<!-- Form photo start -->
<form action="/create_photo" method="post" enctype="multipart/form-data">
<!-- Form photo end -->

  <!-- Label and input for article_id start -->
  <!-- Input for article_id start -->
  <input type="hidden" name="article_id" value="<%= @article.id %>">
  <!-- Input for article_id end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @photo.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for image start -->
  <div class="form-group">
    <label for="image">
      Image
    </label>

    <!-- Input for image start -->
    <input type="file" id="image" name="image" class="form-control">
    <!-- Input for image end -->
  </div>
  <!-- Label and input for image end -->

  <!-- Label and input for location start -->
  <div class="form-group">
    <label for="location">
      Location
    </label>

    <!-- Input for location start -->
    <input type="text" id="location" name="location" class="form-control" value="<%= @photo.location %>">
    <!-- Input for location end -->
  </div>
  <!-- Label and input for location end -->

  <button class="btn btn-block btn-outline-secondary">
    Create photo
  </button>
</form>
