<h1>
  Add a new article
</h1>


<hr>

<!-- Form article start -->
<form action="/create_article" method="post">
<!-- Form article end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <input type="text" id="title" name="title" class="form-control">
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for content start -->
  <div class="form-group">
    <label for="content">
      Content
    </label>

    <!-- Input for content start -->
    <textarea id="content" name="content" class="form-control" rows="3"></textarea>
    <!-- Input for content end -->
  </div>
  <!-- Label and input for content end -->

  <button class="btn btn-block btn-outline-secondary">
    Create article
  </button>
</form>

<hr>

<a href="/articles">
  Go back
</a>
